<div id="controllPanel" class="controlArea">
  <p>Life Game</p>
  <span class="componentGroup">
    <button mat-raised-button class="component" (click)="clear()" [disabled]="this.timerObj">Clear</button>
    <button mat-raised-button class="component" (click)="random()" [disabled]="this.timerObj">Random</button>
  </span>
  <span class="componentGroup">
    <button mat-raised-button class="component" (click)="start()" [disabled]="this.timerObj">Start</button>
    <button mat-raised-button class="component" (click)="stop()" [disabled]="!this.timerObj">Stop</button>
    <button mat-raised-button class="component" (click)="tick()">Tick</button>
  </span>
  <span class="componentGroup">
    <span>Tick period:</span>
    <span class="space"></span>
    <mat-form-field style="width:150px">
      <input matInput #period type="number">
      <span matSuffix>msec</span>
    </mat-form-field>
  </span>
  <span class="componentGroup">
    <span>Size:</span>
    <span class="space"></span>
    <mat-form-field style="width:150px">
      <input matInput #period type="number">
      <span matSuffix>cells</span>
    </mat-form-field>
    <span class="space"></span>
    <span>X</span>
    <span class="space"></span>
    <mat-form-field style="width:150px">
      <input matInput #period type="number">
      <span matSuffix>cells</span>
    </mat-form-field>
    <span class="space"></span>
    <button mat-raised-button class="component">Resize</button>
  </span>
</div>

<div id="contents" class="contentsArea">
  <div class="fieldsArea">
    <div class="cellRow" *ngFor="let row of cells">
      <div class="cell" *ngFor="let cell of row" [ngClass]="{on: cell.alived}" (click)="toggleCell(cell)"></div>
    </div>
  </div>
</div>
